<h4 class="text-center">Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signUp()">
  <div class="form-group">
    <input
      #emailInput
      formControlName="email"
      placeholder="email"
      class="form-control"
      autofocus
    />
    <ap-vmessage
      *ngIf="signupForm.get('email').errors?.required"
      text="Email is required!"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('email').errors?.email"
      text="Invalid e-mail"
    >
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input
      #fullNameInput
      formControlName="fullName"
      placeholder="fullname"
      class="form-control"
    />
    <ap-vmessage
      *ngIf="signupForm.get('fullName').errors?.required"
      text="Full name is required!"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('fullName').errors?.minlength"
      text="Minimum length is 2"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('fullName').errors?.maxlength"
      text="Maximum length is 120"
    >
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input
      #userNameInput
      formControlName="userName"
      placeholder="username"
      class="form-control"
    />
    <ap-vmessage
      *ngIf="signupForm.get('userName').errors?.required"
      text="Username is required!"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('userName').errors?.minlength"
      text="Minimum length is 2"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('userName').errors?.maxlength"
      text="Maximum length is 30"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('userName').errors?.lowercase"
      text="Must be lowercase"
    >
    </ap-vmessage>
    <ap-vmessage
      text="Username already taken"
      *ngIf="signupForm.get('userName').errors?.userNameTaken"
    >
    </ap-vmessage>
    <small *ngIf="signupForm.get('userName').valid" class="text-success">User available</small
    >
  </div>

  <div class="form-group">
    <input
      #passwordInput
      formControlName="password"
      type="password"
      placeholder="password"
      class="form-control"
    />
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.required"
      text="Password is required!"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.minlength"
      text="Minimum length is 8"
    >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.maxlength"
      text="Maximum length is 14"
    >
    </ap-vmessage>
  </div>

  <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">
    Register
  </button>

  <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
</form>
