<ap-photo-search (onTyping) = "filter = $event" [value]="filter"></ap-photo-search>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>
<ap-load-button (click)="load()" [hasMore]="hasMore"> </ap-load-button>
